@use '../../assets/styles/mixin' as *;

.dashboard {
    border-radius: 20px;
    background-image: url(../../assets/img/bg-sunset.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    color: var(--white-color);
    @include flex-hybrid (space-between, center);
    padding: 40px 120px;
    &__gen_info {
        @include flex-dir (column);
        justify-content: space-between;
        height: 280px;
    }

    &__location {
        h1 {
            font-size: 40px;
        }
        p {
            color: var(--gray--text);
        }
    }

    &__temperature {
        h1 {
            font-size: 68px;
        }
    }

    &__additional_info {
        @include flex-dir (column);
        gap: 23px;
    }

    &__info__item {
        @include flex-dir (row);
        gap: 16px;
    }

    &__info__sky {
        @include flex-dir (column);
        align-items: end;
        img {
            width: 100px;
            height: auto;
        }
        p {
            line-height: 40px;
        }
    }

    &__loading {
        @include flex-hybrid(center, center);
        font-size: 40px;
    }
}