.dashboard {
    border-radius: 20px;
    background-image: url(../../assets/img/bg-sunset.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
    &__gen_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
    }

    &__location {
        h1 {
            font-size: 40px;
        }
        p {
            color: var(--gray--text);
        }
    }

    &__temperature {
        h1 {
            font-size: 68px;
        }
    }

    &__additional_info {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    &__info__item {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &__info__sky {
        display: flex;
        flex-direction: column;
        align-items: end;
        img {
            width: 100px;
            height: auto;
        }
        p {
            line-height: 40px;
        }
    }
}