.dashboard {
    border-radius: 20px;
    background-image: url(../../assets/img/bg-sunset.png);
    //max-width: 1300px;
   // max-height: 334px;
    background-repeat: no-repeat; 
    background-position: center center;
    color: var(--white-color);
    display: flex;
    justify-content: space-around;
   
}