@use '../../assets/styles/mixin' as *;

.dashboard_header {
    padding: 40px 0;
    @include flex-hybrid (space-between, center);
    flex-direction: row;

    &__info {
        h3 {
            padding-top: 10px;
            font-size: 14px;
            font-weight: 400;
            color: var(--h3-color);
        }
    }

    &__logo {
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0%;
    }
    &__search {
        border: 1px solid var(--bg-search);
        background: var(--bg-search);
        width: 100%;     
        max-width: 500px;
        padding: 10px 20px;
        border-radius: 30px;
        box-sizing: border-box;
        @include flex-hybrid(space-between, center);
        flex-direction: row;
        input {
            flex-grow: 1;
            outline: none;
            border: none;
        }
        button {
            cursor: pointer;  
            transition: transform 0.2s ease;
            &:hover {
                transform: scale(1.2);
              }
        }
    }

}